.span {
  display: inline-block;
  background-color: antiquewhite;
  padding: 10px;
  margin: 5px;
}

.list {
  border: 1px solid;
  margin: auto;
  width: 600px;
  margin-top: 7px;
}

.text 
{
  text-align: center;
}

.textcolor
{
  color:teal;
}



